<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre o Flask



{% endblock %}

{% block content %}
<h1>Informações profissionais</h1>

<p> <h2>Soft Skills</h2> <br></br>
    Criatividade  <br></br>
    Trabalho em Equipe <br></br>
    Resiliência <br></br> <br></br>
    
    
    <h2>Hard Skills</h2> <br></br>
    Inglês <br></br>
    CSS <br></br>
    HTML <br></br>
    C# <br></br>
    MySQL <br></br>
</p>
{% endblock %}