<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre a linguagem Python



{% endblock %}

{% block content %}
<h1>Sobre Eu! ૮꒰˶ᵔ ᵕ ᵔ˶꒱ა</h1>

<p> >formando em TI pelo Colégio Cotemig <br></br>
    > exp em Html, CSS, C#, MySQL e Python<br></br>
    > inicializando JavaScript<br></br>
    > 17 anos<br></br>
    > apaixonado em código e design gráfico<br></br>
    > a base de qualquer time é o suporte<br></br>
    > nunca UM ajudante, sempre O ajudante<br></br>
    > melhorando seu desempenho, aumentando meu conhecimento<br></br>
</p>
{% endblock %}